[project]
name = "dnd-guide"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "fastapi[standard]>=0.119.0",
    "pytest>=8.4.2",
    "sqlalchemy>=2.0.44",
]
